.form_pageBody {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.form_container {
  width: 28em;
  height: 34em;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
}

.form_container:hover {
  box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.2);
}

.SignUpPage_createaccount_tag {
  color: #333333;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}

.SignUpPage_createusername_container {
  color: #333333;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
}

.SignUpPage_submit_btn {
  color: #ffffff;
  background-color: #333333;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
  height: 2.5em;
  border: none;
  font-weight: 500;
  margin-top: 30px;
}

.SignUpPage_submit_btn:hover {
  background-color: #666666;
}

.SignUpPage_submit_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form > * {
  margin-top: 1em; 
}